.carousel-caption{
    margin-bottom: 350px;
}
.blockquote img {
    width: 317px;
    margin-left: 100px;
}
.block-content {
    width: 750px;
}

footer h6{
  text-align: center;
  font-weight: lighter;
  line-height: 25px;
}


